
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLAyout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı:</label>
        <input type="text" class="form-control" name="URUNAD" />
        <br />
        <button style="right:20px" class="btn btn-info">Ekle</button>
    </div>
    <div>
        <label>Ürün Adı:</label>
        <input type="text" class="form-control" name="MARKA" />
        <br />
        <button style="right:20px" class="btn btn-info">Ekle</button>
    </div>
    <div>
        <label>Kategori:</label>
        <input type="text" class="form-control" name="URUNKATEGORI" />
        <br />
        <button style="right:20px" class="btn btn-info">Ekle</button>
    </div>
    <div>
        <label>Ürün Fiyat:</label>
        <input type="text" class="form-control" name="URUNFIYAT" />
        <br />
        <button style="right:20px" class="btn btn-info">Ekle</button>
    </div>
    <div>
        <label>Ürün Stok:</label>
        <input type="text" class="form-control" name="STOK" />
        <br />
        <button style="right:20px" class="btn btn-info">Ekle</button>
    </div>
</form>
